@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/*body {
  margin: 0;
  padding: 0;
  height: 300vh;
}*/

.home::-webkit-scrollbar {
  display: none;
}

.home.menuativo {
  overflow: hidden !important;
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
}

div.page {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  transition: all 0.6s ease 0s;
}

div.page p {
  margin: auto;
  display: block;
  font-size: 16px;
  text-align: center;
  color: black;
}

.one {background: #535c68;}
.two {background: #273c75; }
.three {background: #f7d794;}

/* menu */
.btn-menu {
  border: none;
  background: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeItem {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(30px, 0 , 0);
  }
}

.menu {
  content: '';
  background: #ebd300;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  /*display: none;*/
  /*animation: fadeMenu 0.90s forwards;*/
  outline: none;
  transition: 0.5s;
}

.menu.ativo {
  left: 0;
}

.nav_container__word {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url('./img.svg') center center no-repeat transparent;
}

.menu ul {
  position: relative;
  list-style: none;
  width: 500px;
  float: right;
  padding-right: 300px;
  padding-top: 100px;
  z-index: 2;
}

.menu ul li {
  position: relative;
  font-family: 'Anton', sans-serif;
  font-size: 3.5em;
  text-align: right;
  color: black;
  cursor: pointer;
  z-index: 2;
  left: 0;
  transition: 0.4s;
}

.menu ul li:hover {
  /*animation: fadeItem .5s forwards;*/
  left: 30px;
  color: white;

}

.menu ul li span {
  font-size: 0.6em;
  width: 30px;
  padding-left: 50px;
  transform: rotate(90deg);
  transform-origin: left top 0;
}

.close {
  position: relative;
  z-index: 3;
  font-size: 3em;
  background: none;
  border: none;
  padding-top: 30px;
  padding-left: 30px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .menu ul {
      width: 80%;
      float: none;
      padding-right: 0;
      padding-top: 0;
  }

  .menu ul li {
      font-size: 2.875em;
      text-align: right;
  }

  .menu ul li span {
      display: none;
  }

  .close {
    position: relative;
    z-index: 3;
    font-size: 2.25em;
    background: none;
    border: none;
    padding-top: 20px;
    padding-left: 20px;
  }
}